{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="This is a online Texas Hold'em application.">
	<meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

	<meta charset="UTF-8">
	<title>Texas Hold'em</title>

	<script src = "{% static "/js/jquery-3.2.1.min.js" %}"></script>

	<link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
	<link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
	<link rel='stylesheet' href="{% static "css/googleapis.css" %}">
	<link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>

	<ul class = "nbar">
		<li class = "navtitle">Texas Hold'em</li>
	</ul>
	<ul class = "nbar">
        <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
        <li class = "nav"><a class = "navhref" href = '#About'>About</a></li>
	</ul>

	<br>
	<div class="form">
		<ul class="tab-group">
			<li class="tab"><a href = "{% url 'signup' %}">Sign Up</a></li>
			<li class="tab active"><a href = "{% url 'login' %}">Log In</a></li>
		</ul>
		<div class="tab-content">
			<div id="login">
				<h1>Welcome Back!</h1>
				<form action= "{% url 'login' %}" method="post">
					{% if errors %}
						{% for e in errors %}
							<p class = "error">* &nbsp;{{ e }}</p>
						{% endfor %}
					{% endif %}
					<div class="field-wrap">
						<input type="text" placeholder = "Username" name="username"/>
					</div>

					<div class="field-wrap">
						<input type="password" placeholder="Password" name="password"/>
					</div>
					<p class="forgot"><a href="{% url 'forgetpassword' %}">Forgot Password?</a></p>
					<br><br>
					<button class="button button-block">Log In</button>
					{% csrf_token %}
				</form>
			</div>

		</div>
	</div>
</body>
</html>
