{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is a online Texas Hold'em application.">
    <meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

    <meta charset="UTF-8">
    <title>Texas Hold'em</title>

    <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
</head>

<body>

    <ul class = "nbar">
        <li class = "navtitle">
            Texas Hold'em
        </li>
    </ul>
    <ul class = "nbar font20">
        <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
        <li class = "nav"><a class = "navhref" href = "#About">About</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'home' %}>Home</a></li>
    </ul>

    <div class="row clearfix">
        <div class = "col-2"></div>
        <div class = "col-8">
            <br><br><br>
            <p>{{ message }}</p>
        </div>
        <div class = "col-2"></div>
    </div>
</body>



