{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is a online Texas Hold'em application.">
    <meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

    <meta charset="UTF-8">
    <title>Texas Hold'em</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "{% static "/js/lobby.js" %}"></script>

    <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
</head>

<body>
    <div>
        <ul class = "nbar">
            <li class = "navtitle">Texas Hold'em</li>
        </ul>
        <ul class = "nbar font20">
            <li class = "nav"><a class = "navhref" href = {% url 'logout' %}>Log out</a></li>
            <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
            <li class = "nav"><a class = "navhref" href = {% url 'profile' %}>Profile</a></li>
            <li class = "nav"><a class = "navhref" href = {% url 'lobby' %}><div class = "creamy">Game Lobby</div></a></li>
        </ul>
        <div class="row clearfix">
            <div class = "col-1"><br></div>
            <div class = "col-10">
                <br><br><br><br><br><br>
                {% if errors %}
                {% for e in errors %}
                <p class = "error">{{ e }}</p>
                {% endfor %}
                <br>
                {% endif %}


                {% for field in desk_form.visible_fields %}
                <div class = "error">{{ field.errors }}</div>

                <div id = "button_list">
                </div>
                <span class = "white font20"><a class = "smallbtn" id = "newplay">&nbsp;+&nbsp;</a></span>

                <div id = "newplay_form" class = "hide">
                    <form action = "newplay/" method = "POST">
                        <br>
                        {% csrf_token %}
                        <div class = "field-wrap"> 
                            {{ field }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="smallbtn">Create Room</button></span>
                    </form>
                </div>
            </div>
            <div class = "col-1"><br></div>
        </div>
    </div>

</body>

</html>
