{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is a online Texas Hold'em application.">
    <meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

    <meta charset="UTF-8">
    <title>Texas Hold'em</title>

    <script src = "{% static "/js/jquery-3.2.1.min.js" %}"></script>
    <script src = "{% static "/js/playroom.js" %}"></script>

    <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
</head>

<body>

    <ul class = "nbar">
        <li class = "navtitle">Texas Hold'em</li>
    </ul>
    <ul class = "nbar">
        <li class = "nav"><a class = "navhref" href = {% url 'logout' %}>Log out</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'profile' %}>Profile</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'lobby' %}><span class = "creamy">Game Lobby</span></a></li>
    </ul>

    <div class="row clearfix">
        <div class = "col-1"></div>
        <div class = "col-7 center">
            <div class = "player">
                <table class = "center">
                    <tr>
                        <th><p>Robot</p></th>
                        <th><div id = "robot-1" class = "card"></div></th>
                        <th><div id = "robot-2" class = "card"></div></th>
                    </tr>
                </table>
            </div>
            <div class = "desk">
                <table class = "center">
                    <br><br><br>
                    <tr>
                        <th><div id = "desk-1" class = "card"></div></th>
                        <th><div id = "desk-2" class = "card"></div></th>
                        <th><div id = "desk-3" class = "card"></div></th>
                        <th><div id = "desk-4" class = "card"></div></th>
                        <th><div id = "desk-5" class = "card"></div></th>
                    </tr>
                </table>
            </div>
            <div class = "player">
                <table class = "center">
                    <tr>
                        <th><p>Me</p></th>
                        <th><div id = "me-1" class = "card"></div></th>
                        <th><div id = "me-2" class = "card"></div></th>
                    </tr>
                </table>
            </div>
            <br><br>
        </div>
        <div class = "col-3"><br><br><br><br>
            <div class = "boxes center">
                <button id = 'get_card' class = "smallbtn button-block">Get Card</button><br><br>
                <button id = 'game_hold' class = "smallbtn button-block">Hold</button><br><br>
                <button id = 'game_fold' class = "smallbtn button-block">Fold</button><br><br>
            </div>
            <br>
            <div id = "message" class = "message"></div>
        </div>

    </body>
    </html>