{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is a online Texas Hold'em application.">
    <meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

    <meta charset="UTF-8">
    <title>Texas Hold'em</title>

    <script src = "{% static "/js/jquery-3.2.1.min.js" %}"></script>

    <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
</head>

<body>

    <ul class = "nbar">
        <li class = "navtitle">Texas Hold'em</li>
    </ul>
    <ul class = "nbar font20">
        <li class = "nav"><a class = "navhref" href = {% url 'logout' %}>Log out</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'profile' %}><div class = "creamy">Profile</div></a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'lobby' %}>Game Lobby</a></li>
    </ul>
    <div class="row clearfix">
        <div class = "col-4"></div>
        <div class = "col-4">
            <br><br>
            <h1 class = "brown">~ {{ user.username }} ~</h1>
            <p class = "center">{{ user.first_name }} {{ user.last_name }}</p>
            <p class = "center">{{ user.email }}</p>

            <hr>

            <p>Total chips:</p>
            <p class = "right">{{ profile.chips }}</p><br>

            <p>Total number of games played: </p>
            <p class = "right">{{ profile.game_played }}</p><br>

            <p>Number of wins:</p>
            <p class = "right">{{ profile.game_win }}</p><br>

            <p>Number of loses:</p>
            <p class = "right">{{ profile.game_lose }}</p><br>

            <p>Average game score: </p>
            <p class = "right">{{ profile.average_score }}</p><br>
            
            <div class = "center">
                <span class = "left"><a class = "smallbtn" href = "{% url 'morechips' %}">More chips</a></span>
                <span class = "right"><a class="smallbtn" href="{% url 'forgetpassword' %}">Change Password</a></span>
            </div>
        </div>
        <div class = "col-4"></div>
    </div>
</div>

</body>

</html>
