{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is a online Texas Hold'em application.">
    <meta name="author" content="Du Zhang, Shuangning Liu, Yupeng Zhang">

    <meta charset="UTF-8">
    <title>Texas Hold'em</title>

    <script src = "{% static "/js/jquery-3.2.1.min.js" %}"></script>

    <link rel = "stylesheet" href = "{% static "css/bootstrap.min.css" %}">
    <link rel='stylesheet' href="{% static "css/googleapis.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel = "stylesheet" href = "{% static "css/mystyle.css" %}">
    <link rel = "stylesheet" href = "{% static "css/profile.css" %}">
</head>

<body>

    <ul class = "nbar">
        <li class = "navtitle">Texas Hold'em</li>
    </ul>
    <ul class = "nbar font20">
        <li class = "nav"><a class = "navhref" href = {% url 'logout' %}>Log out</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'tutorial' %}>Tutorial</a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'profile' %}><div class = "creamy">Profile</div></a></li>
        <li class = "nav"><a class = "navhref" href = {% url 'lobby' %}>Game Lobby</a></li>
    </ul>
    <div class="row clearfix">
        <div class = "col-4"></div>
        <div class = "col-4">
            <br><br>
            <h1 class = "brown">~ {{ user.username }} ~</h1>
            <p class = "center">{{ user.first_name }} {{ user.last_name }}</p>
            <p class = "center">{{ user.email }}</p>
            <br />

    <div class="table-responsive-vertical shadow-z-1">
      <!-- Table starts here -->
      <table id="table" class="table table-striped table-hover table-mc-light-green">
        <thead>
          <tr>
            <th> Property </th>
            <th> Statistics </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-title="Property">Total Chips </td>
            <td data-title="Statistics">{{ profile.chips }}</td>
          </tr>

          <tr>
            <td data-title="Property">Total number of games played </td>
            <td data-title="Statistics">{{ profile.game_played }}</td>
          </tr>

          <tr>
            <td data-title="Property">Number of wins </td>
            <td data-title="Statistics">{{ profile.game_win }}</td>
          </tr>

          <tr>
            <td data-title="Property">Number of loses </td>
            <td data-title="Statistics">{{ loses }}</td>
          </tr>

          <tr>
            <td data-title="Property">Winning Rate </td>
            <td data-title="Statistics">{{ winning_rate }}</td>
          </tr>

        </tbody>
      </table>
    </div>



            <div class = "center">
                <span class = "left"><a class = "smallbtn" href = "{% url 'morechips' %}">More chips</a></span>
                <span class = "right"><a class="smallbtn" href="{% url 'forgetpassword' %}">Change Password</a></span>
            </div>
        </div>
        <div class = "col-4"></div>
    </div>
</div>

</body>

</html>
