::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: rgba(180,180,180,0.8);
	font-size: 18px;
}

ul.nbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(49,107,66, 0.9);
}

li.nav {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

li.navtitle {
	float: left;
	display: block;
	color: white;
	margin-left: 100px;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
}

.creamy {
	color:rgb(219,233,172);
}

.white {
	color: white;
}

a.navhref {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	margin-bottom: 0;
	text-decoration: none;
}

a.navhref:hover {
	background-color: #179b77;
	color: white;
}

p {
	font-size: 20px;
	color: rgb(51,23,12);
}

.illust {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.right {
	text-align: right;
	margin-right: 0;
}

.left {
	text-align: left;
	margin-left: 0;
}

.font15 {
	font-size: 15px;
}

.font20 {
	font-size: 20px;
}

.font30 {
	font-size: 30px;
}

.smallbtn {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 15px;
	margin: 10px;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #1ab188;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}

.smallbtn:hover, .smallbtn:focus {
	background: #179b77;
}

.desk {
	width: 1000px;
	height: 350px;
	border-radius: 200px;
	border: 2px solid rgb(40, 100, 65);
	background-color:  rgba(49,107,66, 0.9);
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
}

.player {
	height: 100px;
	width: 40%;
	margin-left: 20%;
	margin-right: 40%;
	color: rgb(51,23,12);
	padding: 30px;
}

.card_wrapper {
	border: 0.18em solid rgb(23, 81, 65);
	border-radius: 10%;
	height: 80px;
	width: 56px; /*70% of height*/
	margin: 15px;
	float: left;
	background-color: white;
}

.card-img {
	text-align: center;
	margin: 0;
	font-size: 2em;
}

.card-txt {
	margin: 0;
	margin-top: 15%;
	text-align: center;
	font-size: 1.5em;
	padding: 0;
	font-family: "Times New Roman";
	line-height: 80%;
}

.smallcard {
	border: 0.18em solid rgb(23, 81, 65);
	border-radius: 10%;
	height: 60px;
	width: 42px;
	margin: 10px;
	float: left;
	background-color: white;
	font-size: 13px;
}

.message {
	font-size: 30px;
	margin-top: 30px;
	color: white;
}

.tablecards{
	position:relative;
	bottom: 10px;
	margin-top: 20px;
	padding-bottom: 50px;
}

.boxes {
	width: 50%;
}

.pad50 {
	padding-left: 50px;
	padding-right: 50px;
}

.pad30 {
	padding-left: 30px;
	padding-right: 30px;
}

.job {
	color: red;
	font-size: 15px;
}

.status {
	color: rgb(120,100,66);
	font-size: 15px;
}

.chips {
	color: rgb(165,67,42);
	font-size: 15px;
}

.height70 {
	height: 70px;
	vertical-align: bottom;
}

.left {
	text-align: left;
}

.small {
	font-size: 15px;
}

span {
	height: 100px;
	display:inline-block;
}

h3 {
	color: rgb(51,23,12);
}

.hide {
	visibility: hidden;
}

.ranger {
	vertical-align: bottom;
	padding-left: 60px;
	padding-top: 40px;
}

.brown {
	color: rgb(51,23,12);
}

.black {
	color: black;
}

.red {
	color: red;
}

.gray {
	color: gray;
}

.back {
	background-image: url('../images/cardback.png');
	background-size:contain;
	height: 100%;
	width: 100%;
}

.wid250 {
	width: 250px;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em
}

.label-dealer {
	background-color: rgb(188,101,79)
}

.label-dealer[href]:focus, .label-dealer[href]:hover {
	background-color: #5e5e5e
}

.label-smbl {
	background-color: rgb(220,162,65)
}

.label-smbl[href]:focus, .label-smbl[href]:hover {
	background-color: #5e5e5e
}

.label-bgbl {
	background-color: rgb(194,120,49)
}

.label-bgbl[href]:focus, .label-bgbl[href]:hover {
	background-color: #5e5e5e
}

.label-chips {
	background-color: rgb(157,135,56)
}

.label-chips[href]:focus, .label-chips[href]:hover {
	background-color: #5e5e5e
}

.player_wrapper {
	padding: 30px;
	border-radius: 35px;
	background-color: rgba(255,255,255,0);
	background-clip: padding-box;
}